.brand_escudo_container{
	height: 400px;
	width: 400px;
	text-align: center;
	position: absolute;
	margin-top: 40px;
	margin-left: 450px;
}

.escudo_logo{
	max-height: 300px;
	max-width: 300px;
}

.welcome_text{
	position: absolute;
	text-align: center;
	margin-top: 400px;
	margin-left: 300px;
}