
.containerProfesores{
	display: grid;
	row-gap: 30px;
	padding-top: 100px;
	place-items: center;
	margin: 0 auto;
	max-height: 100%;
	overflow: auto;
	padding-bottom: 5%;
}

.cardProfesores{
	background-color: #FFFFFF;
	width: 300px; 
	height: 200px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 3%;
}

.cardProfesores:hover{
	background-color: #808080;
}

@media (min-width: 850px) {
  .containerProfesores { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1200px) {
  .containerProfesores { grid-template-columns: repeat(3, 1fr); }
}