<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Instituto Galton Plataforma Administrativa</title>
  </head>
  <body>
  	<section>
  		<div class= "container2">
  			<div class="card2" id="cardCreateUser">
  				<div class="card-icon">
        			<i class="bi bi-person"></i>
        			<p>Opciones de Usuario</p>
    			</div>
  			</div>
  			<div class="card2" id="cardModifyUser">
  				<div class="card-icon">
    			</div>
  			</div>
  			<div class="card2" id="cardDeleteUser">
  				<div class="card-icon">
    			</div>
  			</div>
  			<div class="card2" id="cardCreate"></div>
  			<div class="card2"></div>
  			<div class="card2"></div>
  			<a href="/generarReporte">Generar Reporte</a>
  		</div>
  		
  		
  		
  		<!---------------- Modal Registrar Usuario -------------->
	<div id="administrarUsuarioModal" class="modal">
		<div class="modal-content1">
			<button class="closeUsuarioModal" id="closeUsuarioModal">&times;</button>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
			    	<button class="nav-link active" id="crearUsuario-tab" data-bs-toggle="tab" data-bs-target="#crearUsuarioTab" type="button" role="tab" aria-controls="crearUsuarioTab" aria-selected="true">Crear Usuario</button>
				</li>
				<li class="nav-item" role="presentation">
			    	<button class="nav-link" id="modificarUsuario-tab" data-bs-toggle="tab" data-bs-target="#modificarUsuarioTab" type="button" role="tab" aria-controls="modificarUsuarioTab" aria-selected="false">Modificar Usuario</button>
				</li>
			</ul>
			
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="crearUsuarioTab" role="tabpanel" aria-labelledby="crearUsuario-tab">
			  		<div class="crearUsuarioContent">
			  			<form class="row g-3" th:action="@{/crearUsuario}" th:object="${crearUsuarioDTO}" method="post" id="crearUsuarioForm">
							<div class="col-md-4">
						    	<label for="documentoUsuario" class="form-label">Documento Usuario *</label>
						    	<input type="text" class="form-control" id="documentoUsuario" name="documentoUsuario" th:field="*{documentoUsuario}">
							</div>
							<div class="col-md-8">
						    	<label for="nombreUsuario" class="form-label">Nombre Usuario *</label>
						    	<input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" th:field="*{nombreUsuario}">
							</div>
							<div class="col-md-6">
						    	<label for="emailUsuario" class="form-label">Email Usuario *</label>
						    	<input type="text" class="form-control" id="emailUsuario" name="emailUsuario" th:field="*{emailUsuario}">
							</div>
							<div class="col-md-6">
						    	<label for="passwordUsuario" class="form-label">Password Usuario *</label>
						    	<input type="password" class="form-control" id="passwordUsuario" name="passwordUsuario" th:field="*{passwordUsuario}">
							</div>
							<div class="col-md-4">
						    	<label for="fechaNacimiento" class="form-label">Fecha Nacimiento</label>
						    	<input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" th:field="*{fechaNacimiento}">
							</div>
							<div class="col-md-4">
						    	<label for="rolUsuario" class="form-label">Rol</label>
						    	<select id="rolUsuario" class="form-select" name="rolUsuario" th:field="*{rolUsuario}">
						      		<option value="">Seleccione...</option>
						      		<option th:each="item : ${rolesUsuario}" th:value="${item.idRol}" th:text="${item.nombreRol}"></option>
						   		</select>
							</div>
							
							<div class="col-md-4">
						    	<label for="estadoUsuario" class="form-label">Estado *</label>
						    	<select id="estadoUsuario" class="form-select" name="estadoUsuario" th:field="*{estadoUsuario}">
						      		<option value="">Seleccione...</option>
						      		<option th:value="A" th:text="Activo"></option>
						      		<option th:value="I" th:text="Inactivo"></option>
						   		</select>
							</div>
							<div class="col-md-8">
						    	<label for="direccionUsuario" class="form-label">Dirección Usuario *</label>
						    	<input type="text" class="form-control" id="direccionUsuario" name="direccionUsuario" th:field="*{direccionUsuario}">
							</div>
							<div class="col-md-4">
						    	<label for="telefonoUsuario" class="form-label">Teléfono Usuario *</label>
						    	<input type="text" class="form-control" id="telefonoUsuario" name="telefonoUsuario" th:field="*{telefonoUsuario}">
							</div>
							<div class="col-md-4">
						    	<label for="sedeUsuario" class="form-label">Sede</label>
						    	<select id="sedeUsuario" class="form-select" name="sedeUsuario" th:field="*{sedeUsuario}">
						      		<option value="">Seleccione...</option>
						      		<option th:each="item : ${sedes}" th:value="${item.codigoSede}" th:text="${item.nombreSede}"></option>
						   		</select>
							</div>
							<div class="col-12" id="registrarUsuarioButtons">
						    	<button type="submit" class="btn btn-primary">Registrar Usuario</button>
						    	<button type="button" class="btn btn-primary" onclick="limpiarFormModalUsuario()">Limpiar Formulario</button>
							</div>
						</form>
			  		</div>
				</div>
				<div class="tab-pane fade" id="modificarUsuarioTab" role="tabpanel" aria-labelledby="modificarUsuario-tab">...</div>
			</div>
		</div>	
	</div>
  	</section>
  </body>
</html>