<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Instituto Galton Plataforma Administrativa</title>
  </head>
  <body>
  	<section>
  		<div class= "administracionContainer">
  			<div class="card2" id="cardCreateUser">
  				<div class="card-icon">
        			<i class="bi bi-person"></i>
        			<p>Opciones de Usuario</p>
    			</div>
  			</div>
  			<div class="card2" id="cardOpcionesSede">
  				<div class="card-icon">
        			<i class="bi bi-building"></i>
        			<p>Opciones de Sede</p>
    			</div>
  			</div>
  			<div class="card2" id="cardOpcionesEstudiante">
  				<div class="card-icon">
        			<i class="bi bi-book"></i>
        			<p>Opciones de Estudiante</p>
    			</div>
  			</div>
  			<div class="card2" id="cardOpcionesProfesor">
  				<div class="card-icon">
        			<i class="bi bi-clipboard2"></i>
        			<p>Opciones de Profesor</p>
    			</div>
    		</div>
  			<div class="card2" id="cardOpcionesProgramas">
  				<div class="card-icon">
        			<i class="bi bi-bookmarks"></i>
        			<p>Opciones de Programas Académicos</p>
    			</div>
  			</div>
  			<div class="card2" id="cardOpcionesBancos">
  				<div class="card-icon">
        			<i class="bi bi-bank"></i>
        			<p>Opciones de Bancos</p>
    			</div>
    		</div>
  			<div class="card2" id="cardOpcionesBancos">
  				<div class="card-icon">
        			<i class="bi bi-calendar2-week"></i>
        			<p>Opciones de Períodos</p>
    			</div>
    		</div>
<!--   			<a href="/generarReporte">Generar Reporte</a> -->
  		</div>
  		
  		
  		
  		<!---------------- Modal Usuario -------------->
	<div id="administrarUsuarioModal" class="modalUsuario">
		<div class="modal-contentUsuario">
			<button class="closeUsuarioModal" id="closeUsuarioModal">&times;</button>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
			    	<button class="nav-link active" id="crearUsuario-tab" data-bs-toggle="tab" data-bs-target="#crearUsuarioTab" type="button" role="tab" aria-controls="crearUsuarioTab" aria-selected="true">Crear Usuario</button>
				</li>
				<li class="nav-item" role="presentation">
			    	<button class="nav-link" id="modificarUsuario-tab" data-bs-toggle="tab" data-bs-target="#modificarUsuarioTab" type="button" role="tab" aria-controls="modificarUsuarioTab" aria-selected="false">Modificar Usuario</button>
				</li>
			</ul>
			
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="crearUsuarioTab" role="tabpanel" aria-labelledby="crearUsuario-tab">
			  		<div th:replace="~{fragments/administracion/opcionesUsuario/crearUsuarioForm :: crearUsuarioForm}"></div>
				</div>
				<div class="tab-pane fade" id="modificarUsuarioTab" role="tabpanel" aria-labelledby="modificarUsuario-tab">
					<div th:replace="~{fragments/administracion/opcionesUsuario/listaUsuarios :: tablaListaUsuarios}"></div>
				</div>
			</div>
		</div>	
	</div>
	
	<!---------------- Modal Sede -------------->
	<div id="administrarSedeModal" class="modalSede">
		<div class="modal-contentSede">
			<button class="closeSedeModal" id="closeSedeModal">&times;</button>
			<ul class="nav nav-tabs" id="modalSedeTab" role="tablist">
				<li class="nav-item" role="presentation">
			    	<button class="nav-link active" id="crearSede-tab" data-bs-toggle="tab" data-bs-target="#crearSedeTab" type="button" role="tab" aria-controls="crearSedeTab" aria-selected="true">Crear Sede</button>
				</li>
				<li class="nav-item" role="presentation">
			    	<button class="nav-link" id="modificarSede-tab" data-bs-toggle="tab" data-bs-target="#modificarSedeTab" type="button" role="tab" aria-controls="modificarSedeTab" aria-selected="false">Modificar Sede</button>
				</li>
			</ul>
			
			<div class="tab-content" id="sedeTabContent">
				<div class="tab-pane fade show active" id="crearSedeTab" role="tabpanel" aria-labelledby="crearSede-tab">
			  		<div th:replace="~{fragments/administracion/opcionesSede/crearSedeForm :: crearSedeForm}"></div>
				</div>
				<div class="tab-pane fade" id="modificarSedeTab" role="tabpanel" aria-labelledby="modificarSede-tab">
					<div th:replace="~{fragments/administracion/opcionesSede/listaSedes :: tablaListaSedes}"></div>
				</div>
			</div>
		</div>	
	</div>
	
	<!---------------- Modal Programas -------------->
	<div id="administrarProgramaModal" class="modalPrograma">
		<div class="modal-contentPrograma">
			<button class="closeProgramaModal" id="closeProgramaModal">&times;</button>
			<ul class="nav nav-tabs" id="modalProgramaTab" role="tablist">
				<li class="nav-item" role="presentation">
			    	<button class="nav-link active" id="crearPrograma-tab" data-bs-toggle="tab" data-bs-target="#crearProgramaTab" type="button" role="tab" aria-controls="crearProgramaTab" aria-selected="true">Crear Programa</button>
				</li>
				<li class="nav-item" role="presentation">
			    	<button class="nav-link" id="modificarPrograma-tab" data-bs-toggle="tab" data-bs-target="#modificarProgramaTab" type="button" role="tab" aria-controls="modificarProgramaTab" aria-selected="false">Modificar Programa</button>
				</li>
			</ul>
			
			<div class="tab-content" id="programaTabContent">
				<div class="tab-pane fade show active" id="crearProgramaTab" role="tabpanel" aria-labelledby="crearPrograma-tab">
			  		<div th:replace="~{fragments/administracion/opcionesPrograma/crearProgramaForm :: crearProgramaForm}"></div>
				</div>
				<div class="tab-pane fade" id="modificarProgramaTab" role="tabpanel" aria-labelledby="modificarPrograma-tab">
					<div th:replace="~{fragments/administracion/opcionesPrograma/listaProgramas :: tablaListaProgramas}"></div>
				</div>
			</div>
		</div>	
	</div>
	
	<!---------------- Modal Bancos -------------->
	<div id="administrarBancoModal" class="modalBanco">
		<div class="modal-contentBanco">
			<button class="closeBancoModal" id="closeBancoModal">&times;</button>
			<ul class="nav nav-tabs" id="modalBancoTab" role="tablist">
				<li class="nav-item" role="presentation">
			    	<button class="nav-link active" id="crearBanco-tab" data-bs-toggle="tab" data-bs-target="#crearBancoTab" type="button" role="tab" aria-controls="crearBancoTab" aria-selected="true">Crear Banco</button>
				</li>
				<li class="nav-item" role="presentation">
			    	<button class="nav-link" id="modificarBanco-tab" data-bs-toggle="tab" data-bs-target="#modificarBancoTab" type="button" role="tab" aria-controls="modificarBancoTab" aria-selected="false">Modificar Banco</button>
				</li>
			</ul>
			
			<div class="tab-content" id="BancoTabContent">
				<div class="tab-pane fade show active" id="crearBancoTab" role="tabpanel" aria-labelledby="crearBanco-tab">
			  		<div th:replace="~{fragments/administracion/opcionesBanco/crearBancoForm :: crearBancoForm}"></div>
				</div>
				<div class="tab-pane fade" id="modificarBancoTab" role="tabpanel" aria-labelledby="modificarBanco-tab">
					<div th:replace="~{fragments/administracion/opcionesBanco/listaBancos :: tablaListaBancos}"></div>
				</div>
			</div>
		</div>	
	</div>
	
  	</section>
  </body>
</html>