<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Instituto Galton Plataforma Administrativa</title>
  </head>
  <body>
  	<section>
  		<div class= "containerContabilidad">
  			<div class="cardContabilidad">
  				<div class="card-icon" id="generarFactura">
        			<i class="bi bi-printer-fill"></i>
        			<p>Generar Factura</p>
    			</div>
  			</div>
  			<div class="cardContabilidad">
  				<div class="card-icon" id="generarEgreso">
        			<i class="bi bi-printer-fill"></i>
        			<p>Generar Egreso</p>
    			</div>
  			</div>
  			<div class="cardContabilidad"></div>
  			<div class="cardContabilidad"></div>
  			<div class="cardContabilidad"></div>
  			<div class="cardContabilidad"></div>
  		</div>
  		
  		  		<!---------------- Modal Generar Factura -------------->
		<div id="generarFacturaModal" class="modal">
			<div class="modalFactura-content">
				<div th:replace="~{fragments/contabilidad/factura :: generarFacturaForm}"></div>
		    </div>
		</div>

		<!---------------- Modal Generar Egreso -------------->
		<div id="generarEgresoModal" class="modal">
			<div class="modalEgreso-content">
				<div th:replace="~{fragments/contabilidad/egreso :: generarEgresoForm}"></div>
		    </div>
		</div>

		<input type="hidden" th:value="${mensaje}" id="mensajeOculto">
  	</section>
  </body>
</html>