<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Instituto Galton Plataforma Administrativa</title>
  </head>
  <body>
    <section>
	    <div class="brand_escudo_container">
	    	<img th:src="@{/images/escudo_galton.webp}" alt="logo" class="escudo_logo">
	    </div>
	    <div class="welcome_text">
	    	<h1>Bienvenido/a al Sistema Administrativo</h1>
	    	<h1>del Instituto Galton</h1>
	    </div>
	</section>
  </body>
</html>