<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Instituto Galton Plataforma Administrativa</title>
  </head>
  <body>
  	<section>
  		<div class= "container1">
  			<div class="card1"></div>
  			<div class="card1"></div>
  			<div class="card1"></div>
  			<div class="card1"></div>
  			<div class="card1"></div>
  			<div class="card1"></div>
  		</div>
  	</section>
  </body>
</html>